/* Global Settings */
* {
    margin: 0;
    padding: 0;   
    font-family: "Inter", sans-serif;
}

/* Header Settings */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, #001730, #1A4D80);
    color: white;
    padding: 20px;
}

#header-title {
    font-family: "Inter", sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 10px;
    padding: 10px;
}

#header-subtitle {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 1.5;
    margin: 10px;
    padding: 10px;
}

#explore-btn {
    background-color: #FF7043;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    font-weight: bold;
    padding: 13px 25px;
    border-radius: 20px;
    border: 0;
    margin: 20px;
}

/* Main Settings */

main {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 20px;
}

#main-title {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #1A4D80;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 40px;
    padding: 5px;
    margin: 5px;
}

.card-style {
    background-color: #E3F2FD;
    padding: 30px;
    border-radius: 8px;

}

.card-style h3 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #001730;
}

.card-style p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #555555;
}


/* Footer Settings */

footer {
    display: flex;
    flex-direction: column;
    background-color: #212121;
    color: white;
    padding: 20px;
}

.footer-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

footer h2 {
    font-family: "Inter", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #d3c8c8;
    text-align: center;
}

footer h3 {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: medium;
    color: #929090;
}

footer ul {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #555555;
}

footer p {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #999999;
}

ul {
    list-style: none; 
    padding-left: 0; 
}